{% extends 'ordering_website/home.html' %}

{% block content %}

{% load static %}
{% load ordering_website_extras %}

<div class="mainContent">

    <div class="container">
        {%for message in messages %}
            {%if "too_much" in message.tags %}
                <span class="{{ message.tags }}">{{ message }}</span>
            {%endif%}
        {%endfor%}
        <h1>Dostawa i płatność</h1>
        <form method="POST">
        <div class="products-cart">
            <div class="products">
                <div class = "profile_frame">
                    {% csrf_token %}
                    <h1>Dostawa</h1>
                    <div class="choose-method"> 
                        <input type="radio" value="parcel_locker" name="delivery" id="delivery-1">
                        <label for="delivery-1" class="">Paczkomat</label>
                        <input checked="checked" type="radio" value="courier" name="delivery" id="delivery-2">
                        <label for="delivery-2" class="">Kurier</label>
                    </div> 
                    <h1>Płatność</h1>
                    <div class="choose-method"> 
                        <input checked="checked" type="radio" value="transfer" name="payment" id="payment-1">
                        <label for="payment-1" class="">Przelew</label>
                        <input type="radio" value="paypal" name="payment" id="payment-2">
                        <label for="payment-2" class="">Paypal</label>
                    </div> 
                    <h1>Dane</h1>
                  
                    <div class="row">
                        <div class="col-50">
                            <p><i class="fa fa-at"></i> Adres email</p>
                            {{ form.email }}
                            <div class="row">
                                <div class="col-50">
                                    <p> Imię</p>
                                    {{ form.name }}
                                </div>
                                <div class="col-50">
                                    <p> Nazwisko</p>
                                    {{ form.surname }}
                                </div>
                            </div>
                            <p><i class="fa fa-address-card-o"></i> Ulica i numer</p>
                            {{ form.address_and_number }}
                            <p><i class="fa fa-phone"></i> Numer telefonu</p>
                            {{ form.phone_number }}

                            <div class="row">
                                <div class="col-50">
                                    <p><i class="fa fa-institution"></i> Miasto</p>
                                    {{ form.city}}
                                </div>
                                <div class="col-50">
                                    <p><i class="fa fa-envelope"></i> Kod pocztowy</p>
                                    {{ form.zip_code }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <span class="error">{{ form.errors }}</span>
                    </div>
                </div>
            </div>
            <div class="summary-items">
                <div class="cart-total more-height">
                    <h1>Podsumowanie</h1>
                    <p>
                        <span>Koszt produktów</span>
                        <span>{{ sum_price }}</span>
                    </p>
                    <p>
                        <span>Liczba produktów</span>
                        <span>{{ items_in_cart }}</span>
                    </p>
                    <p>
                        <span>Dostawa</span>
                        <span>9.99</span>
                    </p>
                    <p>
                        <span>Razem z dostawą</span>
                        <span>{{ total_price }}</span>
                    </p>
                    <button name="submit" type="submit" id="save_data">Złóż zamówienie</button>
                </div>
                <div class="cart-total bought-items">
                    {% for product in whole_products %}
                    <div class="summary-product">
                        <a class="img-link" href="{% url 'wine_page' product.0.wine_id %}"><img class="product-img" src="{{ product.0.image.url }}" alt="{{ product.0.name }}'s image" /></a>
                        <div class="product-info">
                            <h3 class="product-name">{{ product.0.name }}</h3>
                            <h4 class="product-price">{{ product.0.price }} zł</h4>
                            <p class="product-quantity">
                                <span>Ilość:
                                {{ product.3 }}
                                </span>
                                <span>Razem:
                                {{ product.2 }} zl
                                </span>
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        </form>
    </div>

</div>

{% endblock %}
