{% extends 'ordering_website/home.html' %}

{% block content %}

{% load static %}

<div class="mainContent">
    <div class="centerDiv">
        <div class="header">
            <span>Rejestracja</span>
        </div>

        <form action="{% url 'registration' %}" id="contact" method="POST">
            {% csrf_token %}

            <div class="register bigButton">
            {{ form.email }}
            {{ form.password }}
            {{ form.confirm_password }}

            <div>
                <span class="error">{{ form.errors }}</span>
            </div>
            <button name="submit" type="submit" id="signup">Sign up</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
