{% load static %}
{% load ordering_website_extras %}

<div class="mainContent">

    <div class="container">
        {%for message in messages %}
            {%if "order_success" in message.tags %}
                <span class="{{ message.tags }}">{{ message }}</span>
            {%endif%}
        {%endfor%}
        <h1>Produkty</h1>
        <div class="products-container">
        {% for wine in wines %}
            <div class="product" data-name="p-{{ wine.wine_id }}">
                <!-- <img src="{% static 'images/wines/'|addstr:wine.wine_id|addstr:'.png' %}" alt="{{ wine.name }}'s image" /> -->
                <img src="{{ wine.image.url }}" alt="{{ wine.name }}'s image" />
                <h3>{{ wine.name }}</h3>
                <div class="price">{{ wine.price }} zł</div>
                {% if not wine.in_stock %}
                <div class="sold">Wyprzedane</div>
                {% endif %}
            </div>
        {% endfor %}
        </div>
    </div>

    <div class="products-preview">
        {% for wine in wines %}
        <div class="preview" data-target="p-{{ wine.wine_id }}">
            <i class="fa fa-times"></i>
            <a class="img-link" href="{% url 'wine_page' wine.wine_id %}"><img src="{{ wine.image.url }}" alt="{{ wine.name }}'s image" /></a>
            <!-- <img src="{% static 'images/wines/'|addstr:wine.wine_id|addstr:'.png' %}" alt=""> -->
            <h3>{{ wine.name }}</h3>
            <div class="stars">
                {% for x in star_range %}
                    {% if x < rating_dict|hash:wine.wine_id|lookup:1|add:1 %}
                        <i class="fa fa-star yellow-star"></i>
                    {% else %}
                    <i class="fa fa-star gray-star">
                        {% if rating_dict|hash:wine.wine_id|lookup:2 >= 0.5 and x < rating_dict|hash:wine.wine_id|lookup:1|add:2 %}
                            <i class="fa fa-star half-star"></i>
                        {% endif %}
                    </i>
                    {% endif %}
                {%endfor%}
                <span>{{ rating_dict|hash:wine.wine_id|lookup:1 }}({{ rating_dict|hash:wine.wine_id|lookup:0 }})</span>
            </div>
            <p>{{ wine.description }}</p>
            <a href="{% url 'wine_page' wine.wine_id %}">Więcej informacji</a>
            <div class="price">{{ wine.price }} zł</div>
            {% if not wine.in_stock %}
            <div class="sold">Wyprzedane</div>
            {% else %}
            <div class="buttons">
                <a href="{% url 'checkout_page' %}" class="buy">Kup teraz</a>
                <a href="{% url 'add_to_cart' wine.wine_id %}" class="cart">Dodaj to koszyka <i class="fa fa-shopping-cart"></i></a>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

<script src="{% static 'js/wine_preview.js' %}">
</script>
