{% extends 'ordering_website/home.html' %}

{% block content %}

{% load static %}
{% load ordering_website_extras %}

<div class="mainContent">

    <div class="container">
        <div class="card">
            <!-- left -->
            <div class="product-imgs">
                <div class="img-display">
                    <img src="{{ wine.image.url }}" alt="{{ wine.name }}'s image" />
                    <!-- <img src="{% static 'images/wines/'|addstr:wine.wine_id|addstr:'.png' %}" alt="{{ wine.name }}'s image"> -->
                </div>
            </div>
            <!-- right -->
            <div class = "product-content">
                <h2 class="product-title">{{ wine.name }}</h2>
                <div class ="stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <span>5.0 (250)</span>
                </div>
                <div class="product-price">
                    <p class="last-price"><span>{{ wine.price }}zl</span></p>
                </div>
                <div class="initial-detail">
                <p>Vol: {{ wine.vol }}%</p>
                <p>Objętość: {{ wine.size }}ml</p>
                </div>
                <div class="product-detail">
                    <h2>O produkcie: </h2>
                    <p>{{ wine.description }}</p>
                    <ul>
                        <li><i class="fa fa-check-circle"></i> Kolor: <span>{{ wine.color }}</span></li>
                        <li><i class="fa fa-check-circle"></i> Smak: <span>{{ wine.flavor }}</span></li>
                        <li><i class="fa fa-check-circle"></i> Aromat: <span>{{ wine.aroma }}</span></li>
                        <li><i class="fa fa-check-circle"></i> Szczep: <span>{{ wine.strain }}</span></li>
                    </ul>
                    <p>Producent: {{ wine.producer }}</p>
                    <div class="dead-end"></div>
                </div>
                <div class="purchase-info">
                    <p>Dostepna ilość: {{ wine.in_stock }}</p>
                    <input type="number" min="1" value="1" step="1">
                    <div class="buttons">
                        <a href="{% url 'add_to_cart' wine.wine_id %}" class="cart" >Dodaj to koszyka <i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
